/* HomePage.css */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Ensure the container takes the full viewport height */
  }
  
  .logoHome {
    width: 500px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain the aspect ratio */
  }
  
  .title {
    font-size: 100px;
    font-weight: bold;
  }
  
  .description {
    font-size: 50px;
    text-align: center;
  }
  